APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:CHANGE_THIS_PRODUCTION_KEY
APP_DEBUG=false
APP_URL=http://your-domain.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_STACK=single
LOG_LEVEL=info

# ======================
# DATABASE
# ======================
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=toy_store
DB_USERNAME=sail
DB_PASSWORD=password

# ======================
# SESSION / CACHE
# ======================
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis

# ======================
# QUEUE (WAJIB REDIS)
# ======================
QUEUE_CONNECTION=redis

# ======================
# REDIS
# ======================
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# ======================
# MAIL (PROD → SMTP REAL)
# ======================
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password
MAIL_FROM_ADDRESS="no-reply@your-domain.com"
MAIL_FROM_NAME="${APP_NAME}"

# ======================
# STORAGE (RUSTFS)
# ======================
FILESYSTEM_DISK=s3

AWS_ACCESS_KEY_ID=sail
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=local
AWS_ENDPOINT=http://rustfs:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

# ======================
# SECURITY
# ======================
JWT_SECRET=CHANGE_THIS_SECRET
